<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88381361640-fgo2otpah81m62i5be3qpmen6rqpqsod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88381361640-fgo2otpah81m62i5be3qpmen6rqpqsod</string>
	<key>API_KEY</key>
	<string>AIzaSyAdDHYTgXta7OXmAH9B-PM0QF8pCHjwyYU</string>
	<key>GCM_SENDER_ID</key>
	<string>88381361640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedahmed.FoodApp</string>
	<key>PROJECT_ID</key>
	<string>food-app-b93e8</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-b93e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88381361640:ios:a4a0f7356a5f703474a85d</string>
</dict>
</plist>